.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 10px;
}

.app-version {
    position: absolute;
    font-size: 20px;
    color: #ccc;
    top: 50%;
    left: 50%;
}

.sidebar {
    background-color: #333;
    color: white;
    padding: 20px;
    height: 750px;
}

.add-chat-button {
    display: block;
    width: 100%;    
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.add-chat-button:hover, .add-chat-button:focus {
    text-decoration: none;
    color: white;
}

.chat-room-name {
    text-decoration: none;
    color: white;
}

.chat-room-name:hover, .chat-room-name:focus {
    text-decoration: none;
    color: white;
}

.delete-button {
    background-color: transparent;
    font-weight: lighter;
    border: none;
    color: inherit;
    font-size: 15px;
    padding: 0;
    cursor: pointer;
    margin-left: auto;
}

.users-list {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: space-between;
}

.user:hover {
    background-color: #555;
    border-radius: 5px;
}

.chat-container {
    flex: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.chat-creation-container {
    position: absolute;
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    border: 1px solid #ccc;
    padding: 20px;
}

.chat-header {
    display: flex;
    justify-content: space-between;
}

.create-chatroom-header {
    font-size: 20px;
    margin-bottom: 10px;
}

.chat-name {
    font-weight: bold;
    font-size: 24px;
}

.add-user {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 5px;
}

.add-user:hover {
    cursor: pointer;
}

.chat-box {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 20px;
    height: 500px;
}

.input-container {
    display: flex;
    align-items: center;
}

input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}