.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 20px;
}

.sidebar {
    background-color: #333;
    color: white;
    padding: 20px;
    height: 750px;
}

.users-list {
    display: flex;
    flex-direction: column;
}

.user {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user:hover {
    background-color: #555;
}

.chat-container {
    flex: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.chat-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.chat-box {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
}

input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}